.list {
    background-color: #a5d8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 9px;
    margin-bottom: 1rem;
    transform: scale(0);
    transition: all 0.4s;
    /* transform: translateX(200rem); */
}

.list.show {
    transform: scale(1);
    /* transform: translateX(0); */
    /* animation: sliding .5s linear; */
}
/* 
.list.show:hover {
    transition-delay: 0ms !important;
    transform: scale(1.02);
}  */

.list:hover {
    /* transition-delay: 1s; */
    transform: scale(1.02);
}

.list p:first-child {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.list p:last-child {
    font-style: italic;
    font-size: 1.2rem;
    color: #555;
}



.link_container a:link,
.link_container a:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #d7d7d7;
    background-color: #1c7ed6;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    transition: all 0.5s;
}

.link_container a:hover,
.link_container a:active {
    background-color: #4dabf7;
}

.content {
    overflow: hidden;
    flex: 1;
}

.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

